<ion-view view-title="Fruits">
	<ion-content class="has-header">
		<div class="promoBox">
			<img src="img/fruits.jpg" width="100%">
		</div>
		<tab-slide-box class="slideTabs">
			<div class="tsb-icons">
			    <div class="tsb-ic-wrp">
					<ion-scroll direction="x" class="tsb-hscroll col" >
							<a href="javascript:;">Edible fruits</a>
							<a href="javascript:;">Dry fruits</a>
					</ion-scroll>
				</div>
	    	</div>
	    	<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
			    <ion-slide>
		            <ion-list>
						<ion-item class="item-thumbnail-left item-button-right">
							<img src="img/fruits/banana.jpg">
						    <h2 class="green">Banana</h2>
						    <h4 class="price"><span class="old">Rs.135</span>&nbsp;&nbsp;<span class="new">Rs.120</span></h4>
						    <p>Lorem ipsum dolor sit amet</p>
						</ion-item>
						<ion-item class="item-thumbnail-left item-button-right">
							<img src="img/fruits/custard.jpg">
						    <h2 class="green">Custard apple</h2>
						    <h4 class="price"><span class="old">Rs.135</span>&nbsp;&nbsp;<span class="new">Rs.120</span>&nbsp;&nbsp;
						    	<span class="offer">15% off</span></h4>
						    <p>Lorem ipsum dolor sit amet</p>
						</ion-item>
						<ion-item class="item-thumbnail-left item-button-right">
							<img src="img/fruits/orange.jpg">
						    <h2 class="green">Orange</h2>
						    <h4 class="price"><span class="old">Rs.135</span>&nbsp;&nbsp;<span class="new">Rs.120</span></h4>
						    <p>Lorem ipsum dolor sit amet</p>
						</ion-item>
						<ion-item class="item-thumbnail-left item-button-right">
							<img src="img/fruits/pear.jpg">
						    <h2 class="green">Pear</h2>
						    <h4 class="price"><span class="old">Rs.135</span>&nbsp;&nbsp;<span class="new">Rs.120</span></h4>
						    <p>Lorem ipsum dolor sit amet</p>
						</ion-item>
					</ion-list>
		        </ion-slide>
		        <ion-slide>
		            <ion-list>
		            	<ion-item class="item-thumbnail-left item-button-right">
							<img src="img/fruits/pear.jpg">
						    <h2 class="green">Pear</h2>
						    <h4 class="price"><span class="old">Rs.135</span>&nbsp;&nbsp;<span class="new">Rs.120</span></h4>
						    <p>Lorem ipsum dolor sit amet</p>
						</ion-item>
						<ion-item class="item-thumbnail-left item-button-right">
							<img src="img/fruits/custard.jpg">
						    <h2 class="green">Custard apple</h2>
						    <h4 class="price"><span class="old">Rs.135</span>&nbsp;&nbsp;<span class="new">Rs.120</span>&nbsp;&nbsp;
						    	<span class="offer">15% off</span></h4>
						    <p>Lorem ipsum dolor sit amet</p>
						</ion-item>
						<ion-item class="item-thumbnail-left item-button-right">
							<img src="img/fruits/banana.jpg">
						    <h2 class="green">Banana</h2>
						    <h4 class="price"><span class="old">Rs.135</span>&nbsp;&nbsp;<span class="new">Rs.120</span></h4>
						    <p>Lorem ipsum dolor sit amet</p>
						</ion-item>
						<ion-item class="item-thumbnail-left item-button-right">
							<img src="img/fruits/orange.jpg">
						    <h2 class="green">Orange</h2>
						    <h4 class="price"><span class="old">Rs.135</span>&nbsp;&nbsp;<span class="new">Rs.120</span></h4>
						    <p>Lorem ipsum dolor sit amet</p>
						</ion-item>
						
					</ion-list>
		        </ion-slide>
		    </ion-slide-box>
		</tab-slide-box>

	</ion-content>
</ion-view>