<ion-view view-title="Home">
	<ion-content class="has-header"> 
		<ion-slide-box class="slide-box" auto-play="true" does-continue="true" slide-interval="2500">
		  <ion-slide class="slide-item">
		    <div class="box slide">
		    	<img src="img/1.jpg" width="100%">
		    </div>
		  </ion-slide>
		  <ion-slide class="slide-item">
		    <div class="box slide">
		    	<img src="img/2.jpg" width="100%">
		    </div>
		  </ion-slide>
		  <ion-slide class="slide-item">
		    <div class="box slide">
		    	<img src="img/3.jpg" width="100%">
		    </div>
		  </ion-slide>
		  <ion-slide class="slide-item">
		    <div class="box slide">
		    	<img src="img/4.jpg" width="100%">
		    </div>
		  </ion-slide>
		</ion-slide-box>
		<div class="padding">
			<h5 class="green">Select category</h5>
			<div class="cetegory-list">
				<div class="row">
					<a href="#/app/vegetables" class="col-33 category">
						<center><img src="img/icon/broccoli.png" class="category-image"></center>
						<br>
						<p class="col text-center"><b>Vegetables</b></p>
					</a>
					<a href="#/app/households" class="col-33 category">
						<center><img src="img/icon/cutlery.png" class="category-image"></center>
						<br>
						<p class="col text-center"><b>Household</b></p>
					</a>
					<a href="#/app/fruits" class="col-33 category">
						<center><img src="img/icon/fruit.png" class="category-image"></center>
						<br>
						<p class="col text-center"><b>Fruits</b></p>
					</a>
				</div>
				<div class="row">
					<a href="#/app/groceries" class="col-33 category">
						<center><img src="img/icon/groceries.png" class="category-image"></center>
						<br>
						<p class="col text-center"><b>Groceries</b></p>
					</a>
					<a href="#" class="col-33 category">
						<center><img src="img/icon/ham.png" class="category-image"></center>
						<br>
						<p class="col text-center"><b>Non-veg</b></p>
					</a>
					<a href="#" class="col-33 category">
						<center><img src="img/icon/toast.png" class="category-image"></center>
						<br>
						<p class="col text-center"><b>Bread & Dairy</b></p>
					</a>
				</div>
				<div class="row">
					<a href="#" class="col-33 category">
						<center><img src="img/icon/tooth-brush.png" class="category-image"></center>
						<br>
						<p class="col text-center"><b>Personal care</b></p>
					</a>
					<a href="#" class="col-33 category">
						<center><img src="img/icon/water.png" class="category-image"></center>
						<br>
						<p class="col text-center"><b>Beverages</b></p>
					</a>
				</div>
			</div>
		</div>
	</ion-content>

</ion-view>